# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
# Google OAuth
# https://www.better-auth.com/docs/authentication/google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Microsoft Entra ID OAuth
# https://www.better-auth.com/docs/authentication/microsoft
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_TENANT_ID=""

# Vercel Blob
VERCEL_BLOB_READ_WRITE_TOKEN=""

BLOB_READ_WRITE_TOKEN=""